/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.bg {
  font-family: 'Segoe UI', sans-serif;
  background: url('pexels-thatguycraig000-1563356.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: rgba(255, 255, 255, 0.95);
  #background: url('images 1.jpeg') no-repeat center center fixed;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.form-box h2 {
  margin-bottom: 25px;
  color: #000;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 12px;
  font-size: 14px;
  colour: white;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 400px) {
  .form-box {
    width: 90%;
    padding: 20px;
  }
}
